<?xml version="1.0"?> 
<robot name="pendulum">

    <material name="blue">
        <color rgba="0 0 0.925 1"/>
    </material>
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>


    <link name="base_link">
        <visual>
            <geometry>
                <capsule radius="0.2" length="1.5"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision> 
             <geometry> 
                <capsule radius="0.2" length="1.5"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </geometry>
        </collision> 
        <inertial> 
            <mass value="5"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial> 
    </link>

    <joint name="top_joint" type="spherical">
        <parent link="base_link"/>
        <child link="top_link"/> 
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 1.0"/>
        <limit lower="0" upper="0" effort="0.0" velocity="0.0" />
    </joint>

    <link name="top_link">
        <visual>
            <geometry>
                <sphere radius="0.2" length="1"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision> 
             <geometry> 
                <sphere radius="0.2" length="1"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </geometry>
        </collision> 
        <inertial> 
            <mass value="5"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial> 
    </link>


    <joint name="bottom_joint" type="fixed">
        <parent link="base_link"/>
        <child link="bottom_link"/> 
        <axis xyz="0 0 0"/>
        <origin xyz="0 0 -1.0"/>
        <limit lower="0" upper="0" effort="0.0" velocity="0.0" />
    </joint>

    <link name="bottom_link">
        <visual>
            <geometry>
                <sphere radius="0.2" length="1"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision> 
             <geometry> 
                <sphere radius="0.2" length="1"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
            </geometry>
        </collision> 
        <inertial> 
            <mass value="5"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial> 
    </link>

</robot>
